.btn {
  border: none;
  width: 150px;
  height: 70px;
  font-size: 20px;
  font-family: cursive;
  margin-top: 10%;
  margin-left: 40%;
}
input {
  margin-left: 40%;
  margin-top: 1%;
  width: 150px;
  height: 50px;
  font-size: 20px;
  font-family: cursive;
}
@media screen and (max-width: 1000px) {
  .btn {
    margin-top: 50%;
    margin-left: 27%;
    font-size: 50px;
    width: 450px;
    height: 150px;
  }
  input {
    margin-left: 27%;
    font-size: 50px;
    width: 450px;
    height: 150px;
  }
}
